@charset "UTF-8";
/* div {
  border: 1px solid gray;
} */

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  max-width: 1920px;
  margin: 0 auto;
  color: #fff;
  font-family: 'Manrope';
  font-weight: normal;
  overflow-x: hidden;
  opacity: 0;
  transition: opacity 0.8s ease-out;
}
a {
  text-decoration: none;
}
h1, h2 {
  font-weight: bold;
  font-size: 44px;
  line-height: 60px;
}
h1 span,
h2 span {
  color: #00ACFF;
}
section {
  position: relative;
}

.container,
.container-fluid {
  position: relative;
  padding-top: 85px;
  padding-bottom: 85px;
  /* overflow: hidden; */
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1200px;
  margin: 0 auto;
}

.section__bg {
  position: relative;
  /* background-image: url('../img/header.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  /* width: auto; */
  /* height: auto; */
  background-position: center;
}
.section__bg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #081f44;
  opacity: 0.95;
}
.section__bg-header {
  background-image: url('../img/header.jpg');
}
.f-black {
  color: #000
}

.header--paddind {
  padding-top: 30px;
  padding-bottom: 35px;
}

.header--nav-paddind {
  padding-top: 10px;
  padding-bottom: 10px;
}
/* --------------------------- */

/** header **/
.header-top,
.footer-menu__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-top,
.footer-menu__bottom {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.header-top__logo,
.footer-bottom__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  height: 70px;
}
.header-top__logo>p:nth-child(2),
.footer-bottom__logo>p:nth-child(2) {
  width: 255px;
}

.header-logo,
.footer-menu-logo {
  width: 91px;
  height: 80px;
  display: block;
  /* border: 1px solid gray; */
}

.header-top__mess,
.footer-menu__mess {
  width: 327px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-top__mess>p:nth-child(1),
.footer-menu__mess>p:nth-child(1) {
  width: 200px;
  margin-right: 6px;
}
.viber {
  width: 29px;
  height: 30px;
  background-image: url('../img/viber.png');
  background-size: 29px;
  background-repeat: no-repeat;
}
.whatsapp {
  width: 32px;
  height: 33px;
  background-image: url('../img/whatsapp.png');
  background-size: 32px;
  background-repeat: no-repeat;
}
.header-top__phone,
.footer-menu__phone {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: 15px;

}
.phone,
.footer-phone {
  padding-bottom: 15px;
  font-size: 28px;
  font-weight: bold;
  color: #fff
}

.phone__link {
  border-bottom: 1px solid #fff;
  padding-bottom: 5px;
  font-size: 16px;
  color: #fff
}
.phone:hover,
.phone__link:hover {
  color: #00ACFF;
  border-color: #00ACFF;
  transition: all 0.2s;
}

nav {
  color: #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  font-size: 20px;
  font-weight: 500;
  padding-top: 20px;
  padding-bottom: 20px;
}
.nav-top__items {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  list-style: none;
  padding-left: 15px;
  padding-right: 15px;
}
.nav-top__item {
  color: #fff;
  font-size: 20px;
  transition: all 0.2s;
}
.nav-top__item:hover {
  color: #00ACFF;
}

.nav-top__item.active {
  color: #00ACFF;
}


header h1 {
  padding-bottom: 55px;
}
.header-main__desc {
  position: relative;
  max-width: 463px;
}
/* .header-main__desc span {
  color: #00ACFF;
} */
.header-main__desc p {
  font-size: 20px;
  padding-bottom: 90px;
}
.header-main__desc li {
  position: relative;
  /* width: 457px; */
  padding-left: 84px;
  padding-bottom: 55px;
  font-size: 18px;
  line-height: 30px;
  list-style: none;
}
.header-main__desc li::before {
  content: '';
  position: absolute;
  left: 0;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: auto;
}
.header-main__desc li:nth-child(1)::before {
  background-image: url('../img/header.png');
  top: 11px;
}
.header-main__desc li:nth-child(2)::before {
  background-image: url('../img/header1.png');
  top: 8px;
}

.header-main__wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
.header-main__wrap::before {
  content: '';
  position: absolute;
  top: 63px;
  right: -266px;
  width: 300px;
  height: 252px;
  background-image: url('../img/key.png');
  background-repeat: no-repeat;
  z-index: -1;
}
.header-main__wrap::after {
  content: '';
  position: absolute;
  top: -41px;
  right: -375px;
  width: 1010px;
  height: 627px;
  background-image: url('../img/car-header.png');
  background-repeat: no-repeat;
  z-index: -2;
}
.form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.form__header {
  width: 420px;
  height: 450px;
  margin-top: 30px;
  padding: 58px 40px;
  background-color: #fff;
  border-radius: 10px;
  color: #000;
  font-size: 14px;
  line-height: 20px;
  position: relative;
  z-index: 1;
}
.form__header p {
  text-align: center;
}
.form-main__title {
  font-size: 20px;
  font-weight: bold;
  line-height: 31px;
}
.form__input {
  width: 100%;
  height: 65px;
  margin-top: 65px;
  margin-bottom: 61px;
  padding-left: 90px;
  border-radius: 5px;
  box-shadow: inset 0px 0px 11px 1px rgba(185, 185, 185, 0.5);
  border: 1px solid #DADADA;
  background-color: #ECECEC;
  background-image: url('../img/phone.png');
  background-repeat: no-repeat;
  background-position: 40px center;
  font-family: 'Manrope';
  font-size: 14px;
  color: #000;
  font-weight: 500;
}
.form__input:hover,
.form__input:focus {
  background-color: #fff;
}
.form__input-w {
  background-color: #fff;
}
.form__checkbox {
  display: inline-flex;
  width: 278px;
}
.form__checkbox p {
  text-align: left;
  margin-top: 32px;
  margin-bottom: 46px;
  margin-left: 20px;
}
.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  font-size: 22px;
  background-color: #00ACFF;
  min-width: 315px;
  height: 80px;
  border: none;
  border-radius: 40px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.2s;
  z-index: 1;
}
.button::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* overflow: hidden; */
  box-shadow: inset 0px 0px 9px 4px #3BD4FF;
  border-radius: 40px;
}
.button:hover {
  box-shadow: 0px 3px 0px 1px #00A0E4;
  transform: translateY(-1px);
  transition: all 0.2s;
}
.button:active {
  transform: translateY(0);
  box-shadow: none;
  transition: all 0.2s;
}
.button__main {
  padding: 0 40px;
}
.button__main-form {
  min-width: 366px;
}
/* ------------- */
.stat__wrap {
  display: flex;
  justify-content: space-between;
  max-width: 1540px;
  margin: 0 auto;
}
.stat__item {
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  padding: 32px 38px;
  margin-right: 30px;
  width: 336px;
  height: 240px;
  background-color: #00ACFF;
  border-radius: 10px;
  box-shadow: 0 0 36px RGBA(0, 160, 228, 0.42);
}
.stat__item:last-child {
  margin-right: 0;
}
.stat__title {
  font-size: 44px;
  font-weight: bold;
  text-align: center;
}
.stat__desc {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}

.stat-secret {
  max-width: 1740px;
}
.stat-secret__item {
  height: 196px;
  padding: 28px 22px;
}

/* ------------------- */
.section__bg-friends {
  background-image: url('../img/fr.jpg');
}
.friends__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 95px;
}
.friends__wrap::before {
  content: '';
  position: absolute;
  top: 171px;
  left: -360px;
  width: 681px;
  height: 560px;
  background-image: url(../img/fr-auto-l.png);
  background-repeat: no-repeat;
}
.friends__wrap::after {
  content: '';
  position: absolute;
  top: 186px;
  right: -360px;
  width: 681px;
  height: 560px;
  background-image: url(../img/fr-auto-r.png);
  background-repeat: no-repeat;
  z-index: 0;
}
.friends__main {
  position: relative;
  max-width: 686px;
  min-height: 100px;
  margin-top: 90px;
  margin-bottom: 122px;
  padding: 26px 116px;
  background-color: #fff;
  border-radius: 10px;
  color: #000;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  z-index: 1;
}
.friends__main::before {
  content: '';
  position: absolute;
  top: -39px;
  left: calc(50% - 28px);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  /* background-color: #33ABFF; */
  background-image: url('../img/check.svg');
  background-repeat: no-repeat;
  /* background-position: 17px 18px; */
}

/* -------------------- */
.auto-check {
  font-size: 18px;
}
.auto-check__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.auto-check__desc {
  max-width: 468px;
  text-align: center;
  line-height: 36px;
  margin-top: 42px;
  margin-bottom: 75px;
  font-weight: 500;
  font-size: 20px;
}
.auto-check__desc span {
  color: #00ACFF;
}

.auto-check__tabs {
  position: relative;
  width: 100%;
}
/* .tooltip {
  position: absolute;
  background-color: #fff;
  width: 293px;
  font-size: 14px;
  border-radius: 10px;
  padding: 11px 15px;
  text-align: center;
  box-shadow: 0 3px 30px #40404061;
  user-select: none;
} */
/* .tooltip-item1 {
  top: 189px;
  right: 254px;
} */
/* .tooltip-item2 {
  top: 138px;
  right: 254px;
} */
/* .tooltip-item3 {
  top: 189px;
  right: 254px;
} */

.tooltip {
  position: absolute;
  top: 100px;
  left: 0;
  cursor: pointer;
  /* height: 0; */
}
.tooltip::before {
  content: '';
  position: absolute;
  left: -50px;
  top: 10px;
  width: 46px;
  height: 46px;
  background-image: url(../img/item-tooltip.svg);
  background-repeat: no-repeat;
  background-size: 46px;
}
.tooltip-content {
  /* max-height: 0; */
  display: none;
  overflow: hidden;
  background-color: #fff;
  width: 293px;
  font-size: 14px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 3px 30px #40404061;
  user-select: none;
  opacity: 0;
  padding: 11px 15px;
  cursor: pointer;
  z-index: 2;
  position: relative;
  transition: all 0.3s ease-out;
}

#content-tab1>div:nth-child(1)>div:nth-child(2) {
  top: 214px;
  left: 390px;
}
#content-tab1>div:nth-child(1)>div:nth-child(3) {
  top: 187px;
  left: 251px;
}
#content-tab1>div:nth-child(1)>div:nth-child(4) {
  top: 71px;
  left: 258px;
}
#content-tab1>div:nth-child(1)>div:nth-child(5) {
  top: 115px;
  left: 118px;
}
#content-tab1>div:nth-child(1)>div:nth-child(6) {
  top: 26px;
  left: 543px;
}
#content-tab1>div:nth-child(1)>div:nth-child(7) {
  top: 89px;
  left: 465px;
}
#content-tab1>div:nth-child(1)>div:nth-child(8) {
  top: 194px;
  left: 786px;
}
#content-tab1>div:nth-child(1)>div:nth-child(9) {
  top: 280px;
  left: 422px;
}
#content-tab1>div:nth-child(1)>div:nth-child(10) {
  top: 165px;
  left: 592px;
}
#content-tab2>div:nth-child(1)>div:nth-child(2) {
  top: 260px;
  left: 820px;
}
#content-tab2>div:nth-child(1)>div:nth-child(3) {
  top: 215px;
  left: 703px;
}
#content-tab2>div:nth-child(1)>div:nth-child(4) {
  top: 231px;
  left: 496px;
}
#content-tab2>div:nth-child(1)>div:nth-child(5) {
  top: 272px;
  left: 430px;
}
#content-tab2>div:nth-child(1)>div:nth-child(6) {
  top: 234px;
  left: 428px;
}
#content-tab2>div:nth-child(1)>div:nth-child(7) {
  top: 309px;
  left: 345px;
}
#content-tab2>div:nth-child(1)>div:nth-child(8) {
  top: 229px;
  left: 350px;
}
#content-tab2>div:nth-child(1)>div:nth-child(9) {
  top: 255px;
  left: 255px;
}
#content-tab2>div:nth-child(1)>div:nth-child(10) {
  top: 199px;
  left: 383px;
}
#content-tab2>div:nth-child(1)>div:nth-child(11) {
  top: 187px;
  left: 518px;
}
#content-tab2>div:nth-child(1)>div:nth-child(12) {
  top: 211px;
  left: 266px;
}
#content-tab2>div:nth-child(1)>div:nth-child(13) {
  top: 221px;
  left: 205px;
}
#content-tab2>div:nth-child(1)>div:nth-child(14) {
  top: 183px;
  left: 335px;
}
#content-tab2>div:nth-child(1)>div:nth-child(15) {
  top: 152px;
  left: 431px;
}






/* .is-opens .tooltip-content {
 opacity: 1;
} */
/* .item-opacity .tooltip-content {
  opacity: 1;
} */
.tabs {
  position: relative;
  min-width: 320px;
  max-width: 1034px;
  margin: 0 auto;
}

.section-tab {
  margin-top: 30px;
  display: none;
  padding: 15px;
  background: #fff;
}
.section-tab__item {
  position: relative;
  /* margin-top: 50px; */
  max-width: 100%;
  margin: 0 auto;
}
.section-tab__item img {
  width: 100%;
}
.section-tab__item {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.tabs > input {
  display: none;
  position: absolute;
}

.tabs > label {
  width: 33%;
  height: 76px;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  margin: 0 0 -1px;
  padding: 23px 25px;
  font-weight: 500;
  text-align: center;
  color: #000;
  border: 1px solid #000;
  background: #fff;
}

.tabs > label:nth-child(2) {
  border-radius: 10px 0 0 10px;
  border-right: none;
  -webkit-transform: translateX(1px);
          transform: translateX(1px);
}

.tabs > label:nth-child(4) {
  border-right: none;
  z-index: 1;
}

.tabs > label:nth-child(6) {
  float: none;
  border-radius: 0 10px 10px 0;
  border-left: none;
}

.tabs > label:hover {
  color: #888;
  cursor: pointer;
}

.tabs > input:checked + label {
  color: #fff;
  background: #00ACFF;
  border: 1px solid #00ACFF;
}

#tab1:checked + label:nth-child(6) {
  display: none;
}

#tab1:checked ~ #content-tab1,
#tab2:checked ~ #content-tab2,
#tab3:checked ~ #content-tab3 {
  display: block;
}
.tab__item-flex {
  /* margin-top: 50px; */
  display: flex;
  justify-content: space-between;
}
.section-tab__item-img {
  width: 50%;
}
.section-tab__item-img img {
  width: 85%;
  position: absolute;
  top: 133px;
  left: -554px;
}
.section-tab__item ul {
  max-width: 50%;
}
.section-tab__item li {
  position: relative;
  margin-bottom: 34px;
  font-size: 14px;
  font-weight: normal;
  list-style-type: none;
}
.section-tab__item li::before {
  content: '';
  position: absolute;
  top: calc(50% - 23px);
  left: -82px;
  width: 46px;
  height: 46px;
  background-image: url('../img/item-tooltip.svg');
  background-repeat: no-repeat;
}

/* ---------tabs end---------------- */

.auto-check__info {
  position: relative;
  margin-top: 7px;
  padding: 40px 104px;
  line-height: 36px;
  text-align: center;
  /* border: 1px solid #000; */
  box-shadow: 0 0 46px #cacaca4a;
  border-radius: 10px;
  z-index: 2;
}

/* ---------------------- */
.section__bg-legal {
  background-image: url('../img/section.jpg');
}
.legal__wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.legal__wrap::before {
  content: '';
  position: absolute;
  top: calc(50% - 222.5px);
  right: -375px;
  width: 547px;
  height: 445px;
  background-image: url('../img/legal-r.png');
  background-repeat: no-repeat;
  background-position: top right;
  z-index: 0;
}
.legal__wrap::after {
  content: '';
  position: absolute;
  top: calc(50% - 242px);
  left: -375px;
  width: 299px;
  height: 484px;
  background-image: url('../img/paper.png');
  background-repeat: no-repeat;
  background-position: top right;
  z-index: 0;
}
.legal__content {
  flex-basis: 53%;
}
.legal__content h2{
  line-height: 72px;
}
.legal__desc {
  position: relative;
  z-index: 1;
  font-size: 18px;
  line-height: 36px;
  margin: 34px 0 60px;
}
.legal__items {
  margin-top: 95px;
}
.legal__items li {
  position: relative;
  list-style: none;
  background-color: #fff;
  color: #000;
  padding: 35px 30px 38px 134px;
  margin-bottom: 43px;
  border-radius: 10px;
  width: 443px;
  display: block;
  font-size: 20px;
  font-weight: 500;
  background-image: url('../img/check.svg');
  background-repeat: no-repeat;
  background-position: 40px center;
}
/* ----------form-main------- */
.form-main {
  width: 534px;
  padding: 0 20px;
}

.form-main .form {
  align-items: start;
}
.form-main .form__input {
  margin-top: 70px;
  margin-bottom: 80px;
}
.form-main h2 {
  width: 457px;
}
.form-main p {
  width: 435px;
  margin-top: 40px;
  font-size: 18px;
  line-height: 36px;
}
/* ---------form-main end--------- */
.send-request__wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 70px;
}
.send-request__img {
  position: relative;
  flex-basis: 40%;
}
.send-request__wrap::before {
  content: '';
  position: absolute;
  top: calc(50% - 338.5px);
  left: -375px;
  width: 869px;
  height: 677px;
  background-image: url('../img/reguest-l.png');
  background-repeat: no-repeat;
}
.send-request__wrap::after {
  content: '';
  position: absolute;
  top: calc(50% - 213px);
  right: -250px;
  width: 185px;
  height: 426px;
  background-image: url('../img/pen.png');
  background-repeat: no-repeat;
}
.send-request__form h2 {
  width: 505px;
}
.send-request__form p {
  width: 364px;
}
/* -------------------- */
.feedback__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feedback__wrap span {
  color: #00ACFF;
}
.feedback__wrap>p:nth-child(2) {
  margin: 30px 0 70px 0;
}
.feedback__items {
  width: 100%;
  position: relative;
}
.feedback__item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  padding: 50px 30px;
  margin-bottom: 80px;
}
.feedback__item:last-child {
  margin-bottom: 0;
}
.feedback__desc {
  width: 480px;
  padding-right: 47px;
  font-size: 18px;
}
.feedback__video {
  position: relative;
  width: 556px;
  height: 450px;
  border-radius: 10px;
  background-color: grey;
  background-size: cover;
  background-repeat: no-repeat;
}
.video-item1 {
  background-image: url('../img/feedback1.jpg');
}
.video-item2 {
  background-image: url('../img/feedback2.jpg');
}
.video-item3 {
  background-image: url('../img/feedback3.jpg');
}
.video-link {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/play.svg');
  background-repeat: no-repeat;
  background-position: center;

}
.feedback__title {
  margin-bottom: 20px;
  font-weight: bold;
}
.feedback__list {
  margin-bottom: 35px;
}
.feedback__list li{
  list-style: none;
  font-weight: normal;
}
.feedback__footer {
  margin-bottom: 15px;
  font-weight: 500;
}
.feedback__footer:last-child {
  margin-bottom: 0;
}
/* ---------------------- */
.warranty__wrap {
  position: relative;
}
.warranty__wrap::before {
  content: '';
  position: absolute;
  left: -374px;
  bottom: -104px;
  width: 405px;
  height: 554px;
  background-image: url('../img/warranty-l.png');
  background-repeat: no-repeat;
}
.warranty__wrap::after {
  content: '';
  position: absolute;
  right: -375px;
  bottom: -104px;
  width: 412px;
  height: 484px;
  background-image: url('../img/warranty-r.png');
  background-repeat: no-repeat;
}
.warranty__wrap h2 {
  width: 848px;
  margin: 0 auto;
  text-align: center;
}
.warranty__wrap p{
  font-size: 20px;
  text-align: center;
}
.warranty__wrap>p:nth-child(2) {
  margin-top: 35px;
  margin-bottom: 80px;
}

.warranty__items {
  display: flex;
  justify-content: space-between;
}
.warranty__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 367px;
  padding: 46px;
  height: 360px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 46px #cacaca4a;
  /* border: 1px solid #000; */
}
.warranty__logo {
  width: 128px;
  height: 128px;
  margin-bottom: 35px;
  background-repeat: no-repeat;
  background-size: auto 128px;
  background-position: center;
}
.warranty__item:nth-child(1)>.warranty__logo {
  background-image: url('../img/warranty-item1.svg');
}
.warranty__item:nth-child(2)>.warranty__logo {
  background-image: url('../img/warranty-item2.svg');
}
.warranty__item:nth-child(3)>.warranty__logo {
  background-image: url('../img/warranty-item3.svg');
}
.warranty__desc {
  text-align: center;
}
/* ------------------- */

.overpayment__wrap {
  width: 731px;
  margin-left: 40%;
}
.overpayment__wrap::before {
  content: '';
  position: absolute;
  top: calc(50% - 338.5px);
  left: -448px;
  width: 869px;
  height: 677px;
  background-image: url('../img/reguest-l.png');
  background-repeat: no-repeat;
}
.overpayment__wrap::after {
  content: '';
  position: absolute;
  top: calc(50% - 285px);
  right: -360px;
  width: 262px;
  height: 570px;
  background-image: url('../img/phone-r.png');
  background-repeat: no-repeat;
}
.overpayment__wrap h2 {
  margin-bottom: 50px;
}
.overpayment__wrap ul {
  margin-top: 70px;
  margin-bottom: 86px;
}
.overpayment__wrap p,
.overpayment__wrap li {
  font-size: 20px;
}
.overpayment__wrap li {
  position: relative;
  padding-left: 100px;
  margin-bottom: 50px;
  line-height: 36px;
  list-style: none;
}
.overpayment__wrap li::before {
  content: '';
  position: absolute;
  top: calc(50% - 6px);
  left: 55px;
  width: 12px;
  height: 12px;
  background-image: url('../img/li-item.svg');
  background-repeat: no-repeat;
}
.overpayment__buttom {
  display: flex;
  align-items: center;
}
.overpayment__buttom p {
  margin-left: 40px;
  font-size: 26px;
}
.overpayment__buttom span {
  color: #00ACFF;
}

/* --------------------- */
.card__items {
  display: flex;
  justify-content: space-between;
}
.card__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 375px;
  min-height: 706px;
}
.card__item h3 {
  margin-bottom: 30px;
}
.card__img {
  position: relative;
  width: 375px;
  height: 250px;
  margin-bottom: 50px;
  overflow: hidden;
  border-radius: 10px;
}
.card__img img { 
  width: 100%;
}
.card__desc {
  font-size: 14px;
  line-height: 30px;
  min-height: 224px;
}
.card__price {
  margin: 30px 0;
  font-size: 20px;
  color: #00ACFF;
}
.button__card {
  width: 335px;
}
/* --------------------- */
.bargaining__cont {
  /* position: relative; */
  width: 60%;
  padding-bottom: 5px;
  overflow: hidden;
}
.bargaining__wrap::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 65px;
  width: 481px;
  height: 750px;
  z-index: 1;
  background-image: url('../img/man.png');
  background-repeat: no-repeat;
}
.bargaining__wrap::after{
  content: '';
  position: absolute;
  bottom: 54px;
  right: -594px;
  width: 1179px;
  height: 658px;
  z-index: 0;
  background-image: url('../img/q.png');
  background-repeat: no-repeat;
  background-position: center;
}
.bargaining__cont::before {
  content: '';
  position: absolute;
  top: calc(50% - 242px);
  left: -375px;
  width: 299px;
  height: 484px;
  background-image: url('../img/paper.png');
  background-repeat: no-repeat;
  background-position: top right;
  z-index: 0;
}
.bargaining__cont h2 {
  line-height: 72px;
  margin-bottom: 60px;
}
.section__bg-bargaining {
  background-image: url('../img/section.jpg');
}
.bargaining__desc {
  font-size: 20px;
  line-height: 36px;
  font-weight: 500;
  margin-bottom: 70px;
}
.bargaining__price {
  font-size: 22px;
  line-height: 30px;
  font-weight: 600;
  margin-bottom: 80px;
}
.bargaining__price span {
  color: #00ACFF;
}

/* -------------------- */

.risk__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-position: center;
  background-image: url('../img/auto-hlam.png');
  background-repeat: no-repeat;
}
.risk__wrap h2 {
  text-align: center;
  margin-bottom: 70px;
}
.risk__item {
  background-color: #fff;
  width: 533px;
  min-height: 221px;
  box-shadow: 0 0 46px #cacaca4a;
  border-radius: 10px;
  padding: 26px 25px 26px 170px;
  background-repeat: no-repeat;
  background-position: 44px center;
}
div.risk__item:nth-child(1) {
  background-image: url('../img/risk-item1.png');
  background-position: 39px center;
}
div.risk__item:nth-child(2) {
  background-image: url('../img/risk-item2.png');
}
div.risk__item:nth-child(3) {
  margin: 0 auto;
  margin-top: 129px;
  background-image: url('../img/risk-item3.png');
}
.risk__title {
  padding-bottom: 12px;
  font-size: 20px;
  font-weight: 600;
}
.risk__desc {
  font-size: 14px;
  line-height: 30px;
}
/* .secret__tabs-content {
  background-color: #ffffff94;
  color: #000;
  border-radius: 10px;
  padding: 20px;
  font-size: 14px;
  opacity: 1;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

.secret__tabs-label {
  font-size: 20px;
}
.secret-hide {
  max-height: 300px;
  opacity: 0;
} */

/* -------------------- */
/* button.accordion {
  width: 100%;
  background-color: whitesmoke;
  border: none;
  outline: none;
  text-align: left;
  padding: 15px 20px;
  font-size: 18px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.2s linear;
} */
/* 
button.accordion:after {
  content: '\f055';
  font-family: "fontawesome";
  font-size: 14px;
  float: right;

} */

/* button.accordion.is-open:after {
  content: '\f056';
} */

/* button.accordion:hover,
button.accordion.is-open {
  background-color: #ddd;
} */

/* -------------------- */
/* .section__bg-secret {
  background-image: url('../img/ques.png');
  background-position: left center;
  background-size: 200px;
} */
.container-pb {
  padding-bottom: 0;
  min-height: 895px;
}
.container-pt {
  padding-top: 0;
}
.secret__wrap {
  position: relative;
}
.secret__wrap::before {
  content: '';
  position: absolute;
  top: 172px;
  left: -359px;
  width: 300px;
  height: 252px;
  background-image: url('../img/key.png');
  background-repeat: no-repeat;
  transform: rotateY(180deg);
  z-index: 1;
  /* z-index: -1; */
}
.secret__wrap::after {
  content: '';
  position: absolute;
  top: 172px;
  right: -375px;
  width: 608px;
  height: 518px;
  background-image: url('../img/ques-r.png');
  background-repeat: no-repeat;
  /* transform: rotateY(180deg); */
  z-index: 0;
  /* z-index: -1; */
}
.secret__wrap h2{
  text-align: center;
}
.secret__main {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
}
.secret__main::before {
  content: '';
  position: absolute;
  top: -100px;
  left: -338px;
  width: 350px;
  height: 566px;
  background-image: url('../img/ques.svg');
  background-repeat: no-repeat;
  opacity: 0.05;
}
.secret__tabs {
  flex-basis: 45%;
  margin-left: 70px;
}

.accordion {
  position: relative;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  margin-bottom: 25px;
  cursor: pointer;
}
.accordion::before {
  content: '';
  position: absolute;
  top: calc(50% - 20px);
  left: -70px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 5px;
}
.accordion::after {
  content: '';
  position: absolute;
  top: calc(50% - 9px);
  left: -59px;
  width: 18px;
  height: 18px;
  background-image: url('../img/plus.png');
  background-repeat: no-repeat;
  background-size: 18px;
  /* background-color: #fff; */
  /* transform: rotate(-135deg); */
  border-radius: 5px;
  transition: all 0.3s;
}
.rotate::after{
  transform: rotate(-135deg);
}
.accordion-content {
  background-color: transparent;
  /* border-left: 1px solid whitesmoke; */
  /* border-right: 1px solid whitesmoke; */
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
  color: #fff;
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 50px;
}
/* -------------------- */
.time__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.time__wrap span {
  color: #00ACFF;
}
.time__wrap h2 {
  text-align: center;
  margin-bottom: 25px;
}
.time__wrap>p:nth-child(2) {
  text-align: center;
  margin-bottom: 70px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
}
.time__item {
  position: relative;
  width: 370px;
  height: 256px;
  padding: 40px;
  background-color: #00ACFF;
  border-radius: 10px;
  margin-bottom: 30px;
}
.time__title {
  position: relative;
  min-height: 62px;
  margin-bottom: 40px;
  padding-left: 118px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
}
.time__title::before {
  content: '';
  position: absolute;
  top:-14px;
  left: 0;
  width: 83px;
  height: 83px;
  background-repeat: no-repeat;
}
.time__item:nth-child(1)>.time__title::before {
  top: calc(50% - 41.5px);
  background-image: url('../img/time-item1.png');
}
.time__item:nth-child(2)>.time__title::before {
  left: 15px;
  top: calc(50% - 32px);
  background-image: url('../img/time-item2.png');
}
.time__item:nth-child(3)>.time__title::before {
  width: 96px;
  top: calc(50% - 19.5px);
  background-image: url('../img/time-item3.png');
}
.time__item:nth-child(4)>.time__title::before {
  top: calc(50% - 26px);
  background-image: url('../img/time-item4.png');
}
.time__item:nth-child(5)>.time__title::before {
  top: calc(50% - 27px);
  background-image: url('../img/time-item5.png');
}
.time__item:nth-child(6)>.time__title::before {
  top: calc(50% - 34.5px);
  background-image: url('../img/time-item6.png');
}
.time__desc {
  font-size: 14px;
  line-height: 30px;
}

/* -------------------------- */
.choice__wrap {
  /* position: relative; */
  display: flex;
  justify-content: space-between;
}
.choice__wrap::before {
  content: '';
  position: absolute;
  top: 183px;
  left: -360px;
  width: 1070px;
  height: 483px;
  background-image: url('../img/choice-l.png');
  background-repeat: no-repeat;
}
.choice__wrap::after {
  content: '';
  position: absolute;
  top: 183px;
  right: -360px;
  width: 241px;
  height: 307px;
  background-image: url('../img/choice-r.png');
  background-repeat: no-repeat;
}
.choice__wrap span {
  color: #00ACFF;  
}

.answer {
  width: 520px;
  height: 188px;
  padding: 40px;
  background-color: #ffffff;
  color: #000;
  border-radius: 10px;
  font-size: 18px;
  line-height: 36px;
}

/* -------------------- */
footer {
  background-color: #00ACFF;
}
.footer-menu__wrap,
.footer-menu__wrap a {
  color: #000;
}
.footer-phone__link {
  border-bottom: 1px solid #000;
  padding-bottom: 5px;
  font-size: 16px;
}
.footer-menu__wrap a:hover {
  color: #fff;
  transition: all 0.2s;
}
.footer-phone__link:hover {
  border-bottom: 1px solid #fff;
  transition: all 0.2s;
}

/* --------fansy------------ */
.fancybox-content {
  padding: 0;
}

.fancybox-close-small {
  background: gray;
}
.form__modal {
  padding: 58px 25px;
}
/* ------------------------------ */